.container__product-item {
  width: 300px;
}

.image-product {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}


@media (max-width: 960px) {
    .container__product-item {
        width: 100%;
    }

    .text-heading-product__responsive{
        font-size: 15px !important;
    }

    .text-description-product__responsive{
        font-size: 12px !important;
    }

    .text-description-price__responsive{
        font-size: 14px !important;
    }
    

}
 